body {
    background-color:#80bd01;
    color:#80bd01;
    text-align:center;
    font-size: 150%;
    font-family:Helvetica,Arial,sans-serif;
}

a {
    color: inherit;
}


ul {
    text-align:left;
}

code {
    white-space: pre;
    text-align:left;
    color:lime;
}

.step {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    flex-direction: column;
    height: 866px;
    width: 1000px;
}

.hex-background {
    background:url('hex.svg');
    padding: 80px;
    box-sizing: border-box;
}

.details {
    padding: 160px;
    box-sizing: border-box;
}
.step.active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.future.step:not(.active) {
    -opacity: 0;
}

#getting-started {
    padding: 200px;
}
